$primary: #f8633b;
$primary_light: #fb8868;
$dark_primary: #f75050;
$light: #f5eeee;
$secondary: #e8e8e8;
$body-black: #182029;
$ight-black: #1a1f25;

$black: #000;
$dark: #0b0b0c;
$white: #fff;
$paragraph: #666666;
$paragraph-two: #bbb;

$secondary_light: #11181f;
$dark_secondary: #11181f;
$heading: #242428;
$dark-heading: #333333;
