.side-bar {
  position: sticky;
  top: 20px;

  h1 {
    background-color: $primary;
    color: $white;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
  }

  a {
    margin-top: 0.7rem;
    display: inline-block;
  }
  p {
    display: flex;
    align-items: center;
    margin: 0.2rem 0;
    cursor: pointer;
    font-size: 0.78rem;

    .arrow {
      color: $primary;
    }
  }

  .search-bar {
    display: none;

    @media (min-width: 9668px) {
      background-color: $dark-primary;
      margin-bottom: 1.3rem;
      display: grid;
      place-items: center;

      .form-control {
        position: relative;
        width: 100%;
        @media (min-width: 768px) {
          width: 20rem;
        }
        input {
          background-color: $secondary;
          padding: 1rem 2rem;
          clip-path: polygon(0 1%, 95% 0, 100% 100%, 5% 100%);
          color: $dark;
          width: 100%;
          border: none;
          outline: none;

          &::placeholder {
            color: $black;
          }
        }

        .search-icon {
          position: absolute;
          top: 0;
          right: 20px;
          color: $dark_primary;
        }
      }
    }
  }

  .news-letter {
    display: none;

    @media (min-width: 966px) {
      display: block;
      margin-top: 2rem;

      h2 {
        border-bottom: solid 3px $primary;
        margin-bottom: 1rem;
        color: $primary;
      }

      .form {
        background-color: #fff;
        padding: 0.5rem 1rem;
        .news-email {
          background-color: #fff;
        }

        .btn {
          margin: 0.5rem 0 2rem;
          background-color: $dark_primary;
        }
      }
    }
  }
}
